<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}: Duo Design Standards</title>
  <link rel="icon" href="images/favicon_duo.ico">

  {% block styles %}
    <link rel="stylesheet" href="styles/base.css">
  {% endblock %}
</head>
<body class="flexbox">
  <div class="base-container l-pad--base-container">
    {% include 'includes/nav-sidebar.html' %}
    <main class="base-main">
      {% include 'includes/header.html' %}
      <div class="l-grid l-component-cluster">
        {% block body %}{% endblock %}
      </div>
    </main><!-- /end base-main -->
  </div><!-- /end base-container -->

  <script type="text/javascript" src="js/general.min.js" ></script>
</body>
</html>
