@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/extends";

/// Devices for table cards

.insight-section {
    & + &.box:not(.insight-breakdown) {
        margin-top: -2em;
    }

    & + .page-message {
        margin-top: -2em;
        margin-bottom: 4em;
    }

    &.no-margin {
        margin-top: -2em;
    }

    h3, h4 {
        margin-top: .5em;
        display: block;
    }

    .star-explanation {
        font-size: .9em;
        margin-top: -1rem;
        span {
            font-weight: bold;
        }
    }
}

.insight-section-chrome {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: $chrome-green;
}

.insight-section-safari {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: $safari-red;
}

.insight-section-firefox {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: $firefox-orange;
}

.insight-section-internetexplorer {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: $ie-blue;
}

.insight-section-edge {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: $edge-blue;
}

.insight-section-macosx {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: $macosx-blue;
}

.insight-section-windows {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: $windows-green;
}

.insight-breakdown {
    & > * {
        display: inline-block;
        vertical-align: middle;
    }
}

.insight-section-header {
    background-color: $duo-blue;
    display: block;
    margin-bottom: -15px;
    border-radius: 3px 3px 0 0;

    h2 {
        font-size: 22px;
        padding: 10px 20px;
        color: white;

        &.stacked {
            padding: 13px 20px;
        }

        .header-description {
            display: block;
            font-size: 12px;
            color: rgba(255,255,255,.65);
            line-height: 18px;
        }
        .header-type {
            text-transform: capitalize;
            line-height: 24px;
            font-size: 20px;
            display: block;
        }
    }
}

.insight-breakdown-chart {
    width: 15%;
}

.insight-breakdown-short {
    h4 {
        display: block;
        &.vuln-analysis-header {
            margin-top: 2rem;
            margin-bottom: 0;
        }
        &.out-of-date-header {
            margin-top: 1.5rem;
            margin-bottom: 0;
        }
    }

    table {
        display: table;
    }

    .insight-breakdown-chart {
        width: 25%;
    }
    .insight-breakdown-keys {
        width: calc(75% - 1em);
    }
    .insight-key {
        min-width: 136px;
    }
}
.insight-description {
    color: $grey;
    margin-top: -1em;

    @include low-res {
        color: $grey-dark-low-res;
    }
}

.insight-keys {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    text-align: left;
}
.insight-key {
    @include transition(background-color);

    display: inline-block;
    min-width: 160px;
    padding: 1em;
    text-decoration: none;
    box-shadow: none;

    &.is-clickable {
        & > * {
            text-decoration: underline;
        }
        &:hover,
        &.hover {
            // @include box-shadow;
            background-color: $grey-lighter;
            cursor: pointer;
        }
    }
    &:not(.is-clickable),
    &:not(.is-clickable):hover {
        color: inherit;
        cursor: default;
        text-decoration: none;
        box-shadow: none;
    }

    &:before {
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 10px;
        margin-right: .5rem;
        width: 10px;

    }
    &.negative:before,
    &.enabled:before,
    &.out-of-date:before {
        background-color: $error-red;
    }
    &.positive:before,
    &.up-to-date:before {
        background-color: $duo-green;
    }
    &.unknown:before {
        background-color: $grey;
    }
    &.android:before {
        background-color: #1E896F;
    }
    &.insight-access-key.windows:before {
        background-color: $windows-green;
    }
    &.internetexplorer:before {
        background-color: $ie-blue;
    }
    &.blackberry:before,
    &.insight-access-key.android:before {
        background-color: #FDDF19;
    }
    &.firefox:before {
        background-color: $firefox-orange;
    }
    &.ios:before {
        background-color: #08C0E5;
    }
    &.macosx:before {
        background-color: $macosx-blue;
    }
    &.chrome:before {
        background-color: $chrome-green;
    }
    &.other:before {
        background-color: $grey-darker;
    }
    &.windows:before,
    &.insight-access-key.ios:before {
        background-color: #BEDA38;
    }
    &.safari:before {
        background-color: $safari-red;
    }
    &.unsupported:before,
    &.uninstalled:before,
    &.disabled:before {
        background-color: black;
    }
    &.edge:before{
        background-color: $edge-blue;
    }

    h4, p {
        margin: 0;
        min-width: 160px;
    }
    h4 {
        text-decoration: none;
    }

    li {
        display: inline-block;
        vertical-align: top;
        width: 80%;
    }

    // Refers to plugin status, not whether or not the element is active
    &.disabled {
        h4 {
            color: $grey-dark;
        }
        p {
            color: $info-blue;
        }
    }
}

.insight-breakdown-keys {
    width: calc(70% - 1em);
    & > * {
        width: calc(33% - 1em);
        @media (max-width: 1280px) {
            width: calc(50% - 1em);
        }
    }
}

.col-1-1 {
    .insight-security-keys {
        max-width: none;
    }
    .insight-security-section {
        text-align: left;
    }
}

.insight-security-keys {
    padding-left: 8px;
    max-width: 220px;
}
.insight-breakdown-header {
    display: inline-block;
    width: 15%;

    legend {
        margin-bottom: 1em;
    }
}

.insight-versions {
    margin-bottom: 2em;
    text-align: left;
    width: 100%;

    td {
        border-bottom: 1px solid $grey-light;
        padding: 1em 1em 1em 1em;

        &:last-child {
            text-decoration: underline;
        }
    }
    th {
        padding: .5em .5em .5em 1em;
    }
    tr:not(.no-hover-stage):hover td {
        background-color: $duo-green-lightest;
        cursor: pointer;
    }
    thead {
        border-bottom: 1px solid $grey-light;
    }
}

.insight-help {
    min-height: 48px;
}

.insight-security-section {
    text-align: center;

    & > * {
        vertical-align: middle;
    }
}
.insight-security-chart-wrapper {
    display: inline-block;
    position: relative;

    &:after {
        color: $grey-light;
        font-family: $icon-font-family;
        font-size: 40px;
        left: 43px;
        position: absolute;
        top: 70px;
    }
}

.device-insight-section {
    text-align: center;

    .description-text {
        font-style: italic;
        color: $grey;
        display: block;
    }
}

.device-insight-section-header {
    position: relative;

    .info-tooltip {
        position: absolute;
        background-color: $white;
        border: 2px solid $base-border-color;
        bottom: -10px;
        left: 35%;
        width: 29%;
        z-index: 9999;
        padding: 15px;
        font-size: 12px;
        border-radius: 6px;
        color: $grey-darker;

        h3 {
            font-size: 18px;
            font-family: Antenna;
            font-weight: 400;
            margin: 0px;
            color: $grey-dark;
            line-height: 1.3em;
            margin-bottom: 6px;
        }

        p {
            line-height: 18px;
            margin: 0;
        }
    }

    /* CSS From http://www.cssarrowplease.com/ for arrow/point under tooltip */
    .info-tooltip:after, .info-tooltip:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
    }
    .info-tooltip:after {
        border-top-color: $white;
        border-width: 10px;
        margin-left: -10px;
    }
    .info-tooltip:before {
        border-top-color: $base-border-color;
        border-width: 13px;
        margin-left: -13px;
    }

    .button-container {
        text-align: right;
    }

    button.close-button {
        background-color: $info-blue;
        border-color: $info-blue;
        color: $white;
        height: 30px;
        line-height: 30px;
        margin-left: 15px;
        font-size: 12px;
        padding: 0 16px;
    }
}

.device-type-container {
    width: 100%;
    margin-top: 1rem;

    .device-type-section {
        display: inline-block;
        width: 45%;
        text-align: center;
        border: 2px solid $base-border-color;
        border-radius: 5px;
        padding: 25px 5px;
        color: $grey-darker;
        font-size: 12px;
        font-style: italic;

        .icon-percentage-container {
            font-size: 24px;
            vertical-align: middle;
            font-style: normal;
            padding: 0px 20px;

            i {
                padding: 2px 5px;
                font-size: 40px;
                vertical-align: middle;
                color: #888888;
            }
        }

        .device-type-name {
            display: block;
            font-style: normal;
            color: $grey-darker;
            font-size: 18px;
        }

        &:first-of-type {
            margin-right: 35px;
        }

        &:last-of-type {
            margin-left: 35px;
        }

        > div {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.insight-percentage-bar-container {
    text-align: center;
    width: 47%;
    padding: 0px 20px;

    .insight-percentage-bar {
        padding: 5px 10px;
        width: 100%;
    }

    li {
        margin-bottom: 0;
    }

    ul.insight-keys {
        padding: 0px;
        width: 100%;

        li.insight-key {
            padding: 0.6em;
            font-size: 0.9em;
        }

        .legened-percent {
            color: $grey;
        }

        li:nth-child(odd) {
            float: left;
            text-align: left;
        }

        li:nth-child(even) {
            float: right;
            text-align: right;
        }

    }

    .percentage-bar-title {
        color: #5d5d5d;
        font-size: 22px;
        padding: 10px 5px;

        .percentage-bar-title-count {
            font-size: 34px;
        }
    }
}


.total-device-count-container {
    width: 24%;
    padding: 10px 0px;
    margin: 0px;
    position: relative;
    border: solid 2px $base-border-color;
    border-radius: 5px;

    &.left-side {
        height: 90px;
    }

    &.right-side {
        height: 46px
    }

    > .total-device-content {
        position: absolute;
        height: 110%;
        width: 96%;
        left: 2%;
        top: -5%;
        background: $white;
    }

    .up-to-date {
        color: $duo-green;
    }

    .out-of-date {
        color: $error-red;
    }

    .device-count-header {
        font-size: 18px;

        .device-count {
            font-size: 22px;
        }
    }
}

.time-series-chart {
    position: relative;
    height: 250px;

    .highcharts-container {
        overflow: visible !important;
    }

    .selected-plot-band {
        &, &:hover {
            cursor: default;
        }
    }

    &.loading:before {
        @include animation(spin .8s linear infinite);
        @include keyframes("spin") {
          100% {
            transform: rotate(360deg);
          }
        }

        background-image: url('../../images/loading-indicator.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 50px;
        width: 50px;
        left: calc(50% - 25px);
        top: calc(50% - 45px);
        position: absolute;
        z-index: 10;
        content: '';
    }

    &:after {
        content: '';
        position: absolute;
        transition: background-color 0.5s;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &.loading:after {
        background-color: rgba(255, 255, 255, 0.60);
        z-index: 9;
    }

    &:not(.loading):after {
        background-color: rgba(255, 255, 255, 0.0);
        visibility: hidden;
    }

    .highcharts-axis-labels {
        > span {
            position: absolute;

            .axis-label {
                font-size: 11px;
            }
        }
    }

    .highcharts-xaxis-labels {
        .axis-label-day {
            text-align: center;
            line-height: 18px;
            width: 3em;
        }
        .selected {
            color: white;
            border-radius: 6px;
        }
        .axis-label-month {
            left: -5px;
            position: relative;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .highcharts-tooltip {
        border: 2px solid black;
        border-radius: 3px;
        background-color: $white;
        z-index: 10000;
        padding: 6px 14px;

        & > span {
            display: inline-block;
        }

        .tooltip-date, .tooltip-value, .tooltip-total {
            font-family: $base-font-family;
            width: 100%;
            text-align: left;
            display: block;
            white-space: nowrap;
            color: $grey-darker;
        }

        .tooltip-date {
            color: $grey-dark;
            font-size: 11px;
            margin-bottom: 3px;
        }

        .tooltip-value, .tooltip-total {
            font-size: 12px;
            .count {
                font-weight: bold;
            }
        }

        .tooltip-total {
            .count {
                color: $grey-dark;
            }
        }

        .tooltip-value:before, .tooltip-total:before {
            border-radius: 50%;
            content: '';
            display: inline-block;
            height: 7px;
            margin-right: 3px;
            width: 7px;
        }

        .tooltip-total:before {
            background-color: $grey-dark;
        }
    }

    path:hover {
        cursor: pointer;
    }
}

.time-series-plugin-chart {
    .highcharts-tooltip {
        border-color: $insight-plugin-tooltip-color;

        .tooltip-value:before {
            background-color: $insight-plugin-tooltip-color;
        }
        .tooltip-value {
            .count {
                color: $insight-plugin-tooltip-color;
            }
        }
    }
    .selected {
        background-color: $insight-plugin-selected-color;
    }
}

.time-series-browser-chart {
    .highcharts-tooltip {
        border-color: $insight-browser-tooltip-color;

        .tooltip-value:before {
            background-color: $insight-browser-tooltip-color;
        }
        .tooltip-value {
            .count {
                color: $insight-browser-tooltip-color;
            }
        }
    }
    .selected {
        background-color: $insight-browser-selected-color
    }
}

.time-series-os-chart {
    .highcharts-tooltip {
        border-color: $insight-os-tooltip-color;

        .tooltip-value:before {
            background-color: $insight-os-tooltip-color;
        }
        .tooltip-value {
            .count {
                color: $insight-os-tooltip-color;
            }
        }
    }
    .selected {
        background-color: $insight-os-selected-color;
    }
}

.time-series-chart-filter-container {
    margin-top: 10px;
    margin-left: 25px;

    .family-filter-container {
        width : 75%;
        font-size: 12px;
        color: $grey-darker;

        .show-label {
            display: inline-block;
            width: 10%;
            float: left;
            font-weight: bold;
        }
    }

    .filter-buttons-container {
        width: 89%;
        padding: 0;
        margin: 0;
        display: inline-block;
        float: left;
    }

    .family-filter-button {
        list-style: none;
        display: inline-block;
        width: 32%;
        margin-bottom: 2px;

        &, & > label, & > [type="radio"] {
            cursor: pointer;
        }
    }

    .time-filter-container {
        text-align: right;

        .time-button-group {
            > button.button {
                border-radius: 0px;
                background: white;
                color: $grey-darker;
                border-top: 1px solid $base-border-color;
                border-bottom: 1px solid $base-border-color;
                outline: 0;
                width: 70px;
                height: 35px;
                font-size: 12px;
                padding: 10px 5px;
            }

            > button.button:first-child {
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
                border-left: 1px solid $base-border-color;
            }

            > button.button:last-child {
                border-bottom-right-radius: $border-radius;
                border-top-right-radius: $border-radius;
                border-right: 1px solid $base-border-color;
            }

            > button.button:not(:first-child) {
                margin-left: -4px;
            }

            > button.button.active {
                background-color: $info-blue;
                border-color: $info-blue;
                color: $white;
            }

            > button.button:not(.active):hover {
                background-color: $grey-lighter;
            }
        }
    }
}

.graph-legend-container {
    width: 100%;
    padding: 5px 25px;
    margin-bottom: 18px;

    .total-device-line {
        display: inline-block;
        width: 38px;
        height: 2px;
        display: inline-block;
        background-color: $grey-dark;
        vertical-align: middle;
    }

    .ood-device-legend-box {
        display: inline-block;
        height: 15px;
        width: 31px;
        vertical-align: middle;
        margin-left: 15px;

        &.plugin {
            background-color: rgba(109, 186, 213, 0.7);
        }

        &.browser {
            background-color: rgba(108, 125, 136, 0.7);
        }

        &.os {
            background-color: rgba(30, 137, 111, 0.80);
        }
    }

    .legend-description {
        font-size: 11px;
        margin-left: 5px;
        color: #333333;
    }
}

.left-side-time-chart-container {
    width: 63%;
}

.overview-selection-info-box {
    width: 33%;
    vertical-align: top;
    text-align: center;
    margin-top: 5px;
    margin-left: 25px;
    border: 1px solid $base-border-color;
    padding: 20px 15px;
    position: relative;

    .card-heading {
        font-size: 11px;
        color: $grey-dark;
        font-family: $heading-font-family;
    }

    .device-count {
        font-size: 20px;
        .selection-amount {
            font-weight: bold;
        }
    }

    .out-of-date-description {
        font-style: italic;
        font-size: 12px;
        color: $grey-dark;
    }

    .new-release-info {
        padding: 10px 0px;
    }

    .card-list-container {
        text-align: left;

        .card-list {
            margin: 0px;
            list-style-type: none;
            padding: 0px;

            .card-list-item {
                font-family: $base-font-family;
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                margin: 0px;

                &.no-releases {
                    font-weight: normal;
                }
            }
        }
    }

    .info-box-date {
        position: absolute;
        top: -32px;
        right: 50%;
        font-size: 11px;
        color: $duo-blue;
        font-family: $base-font-family;
        font-weight: 500;
    }
}
