@import '../duo/variables';

.l--margin-top-1-8 {
    // this helps equalize base font sized elements that sit inline with header elements
    margin-top: 1.85em;
}

.l--margin-bottom-reset {
    margin-bottom: 0;
}

.l--margin-bottom-reset-default {
    // this pulls the bottom up to clear a space below of the default
    margin-bottom: -$header-margin-spacing;
}

.l--margin-bottom-default {
    // this is the default space after for our base font size
    margin-bottom: .8em;
}

.l--margin-bottom-large {
    margin-bottom: $default-margin-spacing;
}

.l--margin-top-reset {
    margin-top: 0;
}

.l--margin-top-reset-default {
    // this pulls the top up to reset a default space after
    margin-top: -.8em;
}

.l--margin-top-default {
    // this sets the top margin to the default space after based on font size
    margin-top: $default-margin-spacing;
}