// Title:
// Button Label
//
// Version:
// Stable
// Styleguide 1.0.0
//
// Code:
// <label class="subline">Button Label</label>
//
// Usage:
// This is the correct default size and style for labels of buttons.

label {
  color: $grey;

  [type=checkbox] + &, [type=radio] + & {
    color: inherit;
  }
  span {
    color: $grey-darker;
  }

  @include low-res {
    color: $grey-dark-low-res;
  }
}
.subline {
  display: block;
  margin-bottom: 0.5rem;
}
