.base-navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 170px;
    padding: 16px;

    [role="banner"] a {
        display: block;
        max-width: 128px;
        box-shadow: none;

        img {
            display: block;
            width: auto;
            height: auto;
            max-width: 128px;
            max-height: 128px;
            margin-bottom: 16px;
        }
    }

    @media (max-width: $medium-screen-breakpoint) {
        bottom: auto;
        height: 64px;
        width: auto;
        right: 0;
        text-align: left;

        img {
            width: auto;
            max-height: 48px;
            margin-bottom: 0;
        }
    }

    .quirks & {
        bottom: auto;
        // let's face it, orgs that have users that use IE8+quirksmode probably
        // haven't updated the frame to use different dimensions than the ones
        // we specify in the docs. :-P
        height: 327px;
    }
}
.help-links {
    a {
        display: inline-block;

            margin-bottom: 6px;
            line-height: 1.4;
    }

    .help-url {
        text-decoration: none;

        span {
            text-decoration: underline;
        }
    }

    @media(max-width: $medium-screen-breakpoint) {
        margin-top: 12px;
        margin-left: 3px;

        a {
            display: inline;
            font-size: 16px;
            margin-bottom: 0;
        }
    }
  .branding-link {
      margin-top: 1em;
      font-size: 11px;
      color: #666;
      text-decoration: none;
  }
}

.help-sidebar {
    .btn-support {
        display: none;
    }

    .help-links a {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
    }

    .branding-link {
        margin-top: 1em;
        font-size: 11px;
        color: #666;
        text-decoration: none;
    }

    .branding-link:hover {
        color: #379ed4;
        text-decoration: none;
    }

    @media(max-width: $medium-screen-breakpoint) {
        float: right;

        .btn-support {
            color: $grey;
            display: block;
            position: fixed;
            top: 16px;
            right: 16px;
            background-color: $grey-lighter;
            border: 2px solid $grey;
            z-index: $help-overlay-z;
            @include transition(right);

            .icon-align-justify {
                display: inline-block;
            }

            .icon-delete {
                display: none;
            }

            &.overlay-active {
                right: 190px;

                &:focus {
                    outline: 2px solid $white;
                }

                .icon-align-justify {
                    display: none;
                }

                .icon-delete {
                    display: inline-block;
                }
            }
        }

        .help-links {
            display: none;
        }
    }
}

.help-overlay {
    position: fixed;
    height: 100%;
    width: 180px;
    background: $info-blue;
    top: 0;
    right: 0;
    z-index: $help-overlay-z;
    display: none;
    @include transition(right);

    @media(max-width: $medium-screen-breakpoint) {
        display: block;
    }

    .help-links {
        padding: 10px;

        a {
            color: white;
            display: block;
            font-size: 12px;

            &:focus {
                outline: 2px solid $white;
            }
        }
    }

    .branding-link {
        position: absolute;
        bottom: 16px;
        opacity: 0.5;
        text-decoration: none;

        &:focus {
            outline: 2px solid $white;
            opacity: 1.0;
        }

        &:hover {
            opacity: 1.0;
            text-decoration: none;
        }

    }

    &.offscreen {
        right: -180px;
    }
}

/* Darkens the rest of the content when help sidebar open */
.darken-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: $darken-overlay-z;
    display: none;
    opacity: 0.7;
    background-color: black;
    cursor: pointer;

    /* Hate !important, but need this in case user resizes
    the frame to larger (overlay should not be visible) */
    @media(min-width: $medium-screen-breakpoint) {
        display: none !important;
    }
}
