.subnav {
    background-color: $grey-lighter;
    padding: 8px 0;

    .count, .new {
        top: 3px;
    }

    > a {
        @include transition(color);

        color: $grey-darker;
        display: block;
        font-size: 12px;
        line-height: 22px;
        padding: 4px 16px;
        position: relative;
        text-decoration: none;

        &:hover, &:focus {
            background-color: $grey-light;
        }

        &.current {
            color: $duo-green;
        }

        .flexbox & {
            display: flex;
            align-items: baseline;

            .label {
                flex: 1;
            }
        }
    }
}
