.subnav {
    padding: 0 0 4px 0;

    .count {
        top: .5rem; // 8/16
    }

    > a {
        @include transition(color);
        @include no-box-shadow;
        color: $default-link-color;
        display: block;
        font-size: .75rem; // 12/16
        line-height: 1.25em;
        padding: .5rem .375rem .5rem 2.25rem; // 8/16, 8/16
        position: relative;
        text-decoration: none;

        &:hover {
            @include no-box-shadow;
            background-color: $nav-state-color;
            border-radius: 0;
            .count {
                color: $default-link-color;
            }
        }

        &:focus {
            @include no-box-shadow;
            border-radius: 0;
            z-index: 3000;
        }

        &:active {
            background-color: $white;
        }

        &.current {
            background-color: $nav-state-color;
            .count {
                color: $default-link-color;
            }
        }

        .flexbox & {
            display: flex;
            align-items: baseline;
        }
    }
}
