// Title:
// Dark Link
//
// Version:
// Stable
// Styleguide 1.0.0
//
// Code:
// <p class="breadcrumbs">
//  <a href="#">Base Directory</a>
//  <i class="icon-chevron-thick-right"></i>
//  <a href="#">Previous Directory</a>
//  <i class="icon-chevron-thick-right"></i>
//  Current Directory
// </p>
//
// Usage:
// Breadcrumb links navigate users to pages higher in the page hierarchy.

.breadcrumbs {
  font-size: small;

  a {
      color: $grey;

      &:hover {
          color: $grey-dark;
      }
  }

  i {
      margin: 0 8px;
  }

  @include low-res {
      a:hover {
          color: $grey-dark-low-res;
      }
  }
}
