// Title:
// New Window Link
//
// Version:
// Stable
// Styleguide 1.0.0
//
// Code:
// <a href="" title="" rel="" target="_blank">Open in a new window <i class="icon-new-window "></i></a>
//
// Usage:
// Use this link type when sending the user anywhere outside of the current website or application — typically when navigation away from the current domain.

a[target="_blank"] {
  i.icon-new-window {
      display: inline-block;
      text-decoration: none;
      padding-left: 6px;
      font-size: 75%;
    }
  }
