@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/extends";

/////////////// Links
a,
%a,
.link
 {
  color: $default-link-color;
  text-decoration: none;
  @include transitions(color ease-in-out 25ms 25ms,
              box-shadow ease-in-out 100ms 0ms);
  @include box-shadow(0 1px 0 0 currentColor);
	&:hover, %a-hover {
		// color: currentColor; causing an issue with polices box-info header links
        text-decoration: none;
		@include box-shadow(0 3px 0 0 currentColor);
	}
	&:not(.button):focus {
		text-shadow: none;
		box-shadow: none;
		outline: none;
		border:none;
        text-decoration: none;
		//padding:0; this may be problematic but can cause oddities for non inline links
		@include border-radius;
		@include box-shadow(
      0 0 0 1px $white,
			0 0 0 3px currentColor
    );
	}
// import other link types here
@import "destructive";
@import "icon";
}
// this is to make links inside of text make the default text color
p {
    a {
        color: $default-text-color
    }
}
@import "small";
@import "new-window";
@import "breadcrumbs";
