// #brand colors
$duo-green: #63B246;
$duo-green-dark: #579e40;
$duo-green-darkest: darken($duo-green-dark, 10%);
$duo-green-light: lighten($duo-green, 20%);
$duo-green-lightest: lighten($duo-green, 40%);

$duo-blue: #405665;
$duo-blue-dark: #363f44;
$duo-blue-darkest: darken($duo-blue-dark, 10%);
$duo-blue-light: #2798D4;
