%icon {
  @include duo-icons;
  font-size: 14px;
  font-size: 1.25rem;
  &:hover {
    @extend %no-box-shadow;
  }
}
.icon:before,
%icon-before {
  @extend %icon;
  padding-right: 0.25rem;
}
.icon:after,
%icon-after {
  @extend %icon;
  padding-left: 0.125rem;
}
%no-box-shadow {
  @include box-shadow(none);
}
%button-reset {
  background-color: transparent;
  border: none;
  padding: 0;
}
