@import "../colors/all-colors";

// #brand colors
$duo-green: #63B246;
$duo-green-dark: #509439;
$duo-green-darkest: darken($duo-green-dark, 10%);
$duo-green-light: lighten($duo-green, 20%);
$duo-green-lightest: lighten($duo-green, 40%);

$duo-blue: #405665;
$duo-blue-dark: #2f424f;
$duo-blue-darkest: darken($duo-blue-dark, 10%);
$duo-blue-light: lighten($duo-blue, 20%);

// Shortcuts for common and standard monochromes
$grey-darker: #444;
$grey-dark: #666;
$grey: #888;
$grey-light: #e1e1e1;
$grey-lighter: #f2f2f2;
$white: white;

// States for alerts, buttons, etc
$success-green: map-get($green, success);
$success-green-light: $duo-green-light;
$success-green-lightest: lighten($duo-green, 40%);
$error-red: map-get($red, alert);
$error-red-light: lighten($error-red, 20%);
$error-red-lightest: #f4d5d5;
$error-red-dark: map-get($red, dark);
$info-blue: #379ed4;
$info-blue-light: lighten($info-blue, 40%);
$info-blue-border: #CBD9E1;
$warning-orange: #df6a27;
$warning-orange-light: lighten($warning-orange, 40%);

// Base colors, fonts and sizes
$base-color: $grey-darker;
$base-link-color: map-get($gray, dark);
$base-font-family: 'NeueHaasGrotesk', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-letter-spacing: .02em;
$base-font-size: 14px;
$base-line-height: 21px;

//font weights
$base-font-weight: 300;
$medium-font-weight: 600;
$bold-font-weight: 900;

$base-border-color: #ccc;
//font sizes & line heights
$base-font-size: .875rem;
$base-line-height: 1.45;
$small-line-height: 1.25;
$smaller-font-size: .65em;
$small-font-size: .8em;
$medium-font-size: 1.125rem;
$large-font-size: 1.5rem;
$xlarge-font-size: 1.953rem;
$largest-font-size: 2.441rem;

// Margins
$default-margin-spacing: 1.3em;
$large-margin-spacing: 1.56rem;
$header-margin-spacing: 1.5em;
$header-margin-bottom-spacing: .25em;
$large-header-margin-bottom-spacing: .125em;
$h1-header-margin-bottom-spacing: .5em;

//font sizes & line heights
$base-font-size: .875rem;
$base-line-height: 1.45;
$small-line-height: 1.25;
$smaller-font-size: .65em;
$small-font-size: .8em;
$medium-font-size: 1.125rem;
$large-font-size: 1.5rem;
$xlarge-font-size: 1.953rem;
$largest-font-size: 2.441rem;

// High contrast colors
$grey-dark-low-res: #444;
$grey-light-low-res: #efefef;
$grey-lighter-low-res: #f2f2f2;
$base-border-color-low-res: #dadada;

// Heading fonts and colors
$heading-color: map-get($gray, dark);
$heading-font-family: 'NeueHaasGrotesk', "Helvetica Neue", Helvetica, Arial, sans-serif;

$icon-font-family: "Duo Admin Icons";

// Misc metrics
$disabled-opacity: 0.5;
$disabled-color: transparentize($base-color, $disabled-opacity);
$border-radius: 4px;
$disabled-input-color: rgb(235, 235, 228);

// Platform colors
$chrome-green: #68cf6a;
$safari-red: #fe5255;
$firefox-orange: #f9923e;
$ie-blue: #3eb2ef;
$edge-blue: #2e6fb3;
$macosx-blue: #08C0E5;
$windows-green: #1E896F;

$managed-device-blue: #379ED4;

// Insight graph colors
$insight-card-border: #dadada;

$insight-os-tooltip-color: #317867;
$insight-os-selected-color: #357E6D;
$insight-browser-tooltip-color: #606E7A;
$insight-browser-selected-color: #606E7A;
$insight-plugin-tooltip-color: #67A3B7;
$insight-plugin-selected-color: #379ED4;

$policy-builder-warning-text-brown: #806840;
$policy-builder-warning-background-yellow: #FEF4E2;
$policy-builder-warning-border-yellow: #F5E1BF;
$policy-builder-help-text-grey: #757E81;
$policy-builder-help-text-background-grey: #F8F8F8;
$policy-builder-help-text-border-grey: #D0DCE2;


///////// Icons
$trashcan:      '\e043';
$lessThanThin:  '\e109';
$lessThan:      '\e02c';
$downCarret:    '\e02f';
$upCarret:      '\e108';
$greaterThan:   '\e049';
$magnify:       '\e02a';
$close:         '\e032';
$confirm:       '\e033';
$alert:         '\e045';
$info:          '\e0d0';

//// Color name translations
// body
$default-background-color: map-get($gray, bkg);

// Text names
$default-text-color: map-get($gray, dark);
$mid-text-color: map-get($gray, mid);
$disabled-text-color: map-get($gray, disabled);
$pagination-text-color: map-get($gray, mid);
$button-text-color: map-get($gray, dark);

// Link names
$default-link-color: map-get($gray, dark);
$dropdown-link-hover-color: map-get($blue, cta);

// Button names
$default-button-color: map-get($gray, dark);
$default-button-hover-color: map-get($gray, mid);
$primary-button-color: map-get($blue, cta);
$primary-button-hover-color: map-get($blue, cta-light);
$destructive-button-color: map-get($red, alert);
$destructive-button-hover-color: map-get($red, darker);
$disabled-button-color: map-get($gray, lightest);
$disabled-pagination-color: map-get($gray, light);
$download-button-hover-color: map-get($blue, cta);

// Border names
$light-border-color: map-get($gray, lightest);
$default-border-color: map-get($gray, light);
$mid-border-color: map-get($gray, mid);
$dark-border-color: map-get($gray, dark);
$button-border-color: map-get($gray, light);
$button-border-hover-color: map-get($blue, cta-dark);
$primary-border-color: map-get($blue, cta);
$primary-bottom-border-hover-color: map-get($blue, cta-dark);
$primary-border-hover-color: map-get($blue, cta-light);

// Box Shadows
$default-boxshadow-color: map-get($gray, dark);
$primary-boxshadow-color: map-get($blue, cta-dark);
$destructive-boxshadow-color: map-get($red, darker);

// Dropshadow
$default-dropshadow-color: map-get($gray, dropshadow);

// Form elements
$select-hover-color: map-get($blue, cta);

// UI Elements
$search-icon-color: map-get($gray, mid);

// Modal/Messages
$default-message-background-color: map-get($blue, cta);

// Header names
$default-header-color: map-get($gray, dark);
$mid-header-color: map-get($gray, mid);
$light-header-color: map-get($gray, light);

// Main Nav
$nav-state-color: #D4ECFF;
$count-color: #DADADA;

// Transitions
$delayed-slow-ease: ease-in-out 200ms 80ms;
$slow-ease: ease-in-out 200ms 0ms;
$fast-ease: ease-in-out 125ms 0ms;
$super-fast-ease: ease-in-out 80ms 0ms;


// Duo Prompt specific?
$small-screen-breakpoint: 360px;
$medium-screen-breakpoint: 480px;
$large-screen-breakpoint: 600px;

$labeled-row-button-breakpoint: 505px;
$labeled-row-button-breakpoint-fr-de: 612px;

$height: 330px;

$help-overlay-z: 20;
$darken-overlay-z: 15;
