// Title:
// Destructive Action
//
// Version:
// Development
// Styleguide 1.1.0
//
// Code:
// <button class="tiny positive">Inline Positive Button</button>
//


%destructive,
&.c--destruction {
    &:before {
        content: $trashcan;
        display: inline-block;
        color: $destructive-button-color;
        font-size: 1.05rem;
        font-weight: bold !important;
        padding-right: 6px;
        margin-top: -.2em;
    }

    &:after {
        background-color: $destructive-button-color;
    }

    &:hover {
        background-color: transparent;
        border-color: $destructive-button-color;
    }

    &:active {
        @include box-shadow(inset 0 0 4px 0px $destructive-boxshadow-color);
    }
}

&.a--destruction-ico:before {
    padding-right: 0;
}
