// Title:
// Disabled
//
// Version:
// Development
// Styleguide 1.1.0
//
// Code:
// <button role="button" type="button" name="disabled button" class="c--disabled" aria-disabled="true">Disabled <i role="tooltip">Please preform the following tasks to enable this button</i></button>
//


&[disabled] {
    @include no-box-shadow;
    background-color: $disabled-button-color;
    border-color: $disabled-button-color;
    color: $disabled-text-color;
    cursor: not-allowed;
    position: relative;
    overflow: hidden;

    i[role="tooltip"] {
        @include transitions( opacity $slow-ease, background-color linear 50ms);
        @include border-radius;
        @include box-shadow(0 3px 4px $disabled-button-color);
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        right: 0;
        left: 115%;
        top: 0;
        padding: 1em;
        border: 1px solid $default-border-color;
        visibility: hidden;
        background-color: $white;
        line-height: 1.4em;

        &:before {
            @extend %icon;
            box-sizing: border-box;
            position: absolute;
            background-color: transparent;
            color: map-get($gray, light);
            top: 11%;
            left: -.75em;
            width: 0.8em;
            border-right: 2px solid $white;
            content: $lessThanThin;
        }
    }

    &:focus,
    &:hover {
        box-shadow: none;
        font-weight: 400;
        cursor: not-allowed;
        color: $disabled-text-color;
        overflow: visible;
        transform: none;
        background-color: $disabled-button-color;
        border-color: $disabled-button-color;

        i[role="tooltip"] {
            width: 250%;
            height: auto;
            opacity: 1;
            visibility: visible;
            text-align: left;
            font-style: normal;
        }
    }

    &:focus {
        @include box-shadow;
    }
}
