.c--btn {
    &-next {
        @extend %button;

        &:after {
            @include forward-arrow;
            vertical-align: middle;
            margin-right: -.25em;
            line-height: 0;
            top: -.075em;
            position: relative;
        }
    }
    &-download {
        @extend %button;
        @include no-box-shadow;
        display: inline-block;;
        height: auto;
        border: none;
        padding: 12px 20px 12px 0;
        color: $info-blue;
        font-size: 0.8125rem;
        line-height: 1em;
        transition: color .2s ease;

        svg {
            display: inline-block;
            width: 1.72em;
            float: left;
            height: auto;
            fill: $info-blue;
            margin-right: 0.86em;
        }

        i {
            display: table-caption;
            clear: both;
            color: $mid-text-color;
            font-style: normal;
            margin-top: 0.25em;
            font-size: 0.6875rem;
            line-height: 1rem;
            min-width: 75px;
        }

        &:hover {
            @include no-box-shadow;
            color: $info-blue;
            background-color: transparent;
            text-decoration: underline;

            svg {
                fill: $info-blue;
            }

            i {
                text-decoration: none;
            }
        }

        &:focus,
        &:active {
            @include box-shadow;
            outline: none;
            border: inherit;
            background-color: transparent;
            color: inherit;
        }
    }
}
