// Title:
// Navigational
//
// Version:
// Development
// Styleguide 1.1.0
//
// Code:
//  <button role="button" type="button" name="button" class="icon c--continue">Continue</button>
//

.dataTables_paginate a {
    border: none;

    &:hover {
        border: none !important;
    }
}
@mixin back-arrow {
    @extend %icon;
    content: $lessThan;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
}
@mixin forward-arrow {
    @extend %icon;
    content: $greaterThan;
    display: inline-block;
}

.c--pag-back,
.c--pag-forward {
    @include box-shadow(none);
}
%back {
  &:before {
    @include back-arrow;
  }
}
%forward {
  &:after {
    @extend %icon-after;
    @include forward-arrow;
  }
}

.c--nav-back {
    @extend %back;
    margin-left: 1.1em;

    &:before {
        left: -1.1em;
        margin-right: -1.03em;
    }
}

.c--nav-continue {
    @extend %forward;
    margin-right: 1.1em;

    &:after {
        right: -1.1em;
        margin-right: -1.03em;
        vertical-align: bottom;
    }
}

.c--pag-back:before,
.c--pag-forward:after {
    padding: 0;
    vertical-align: text-bottom;
}

&.c--btn-next {
    &:after {
        @extend %icon;
        @include forward-arrow;
        vertical-align: middle;
        margin-right: -.25em;
        line-height: 0;
        top: -.075em;
        position: relative;
    }
}
