// Title:
// Primary Action
//
// Version:
// Development
// Styleguide 1.1.0
//
// Code:
// <button role="button" type="button" name="button" class="c--cta">Main CTA</button>
//

&.c--primary {
    @include box-shadow(0 2px 0 0 $primary-border-color, 0 0 0 0 $default-dropshadow-color);
    color: $white;
    background-color: $primary-button-color;
    border-color: $primary-border-color;
    max-height: 38px;
    min-height: 38px;
    height:auto;

    &:hover {
        @include box-shadow(0 2px 0 0 $primary-bottom-border-hover-color, 0 3px 6px 0 $default-dropshadow-color);
        background-color: $primary-button-hover-color;
        border-color: $primary-border-hover-color;
    }

    &:focus {
        @include box-shadow(0 0 0 1px $white, 0 0 0 3px $default-button-color);
    }

    &:active {
        @include box-shadow(inset 0 0 10px -1px $primary-boxshadow-color);
        background-color: $primary-button-hover-color;
        border-color: $primary-button-hover-color;
        color: $white;
    }
}
