@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/extends";

.at-a-glance {
    display: flex;
    margin-bottom: 15px;
    background: white;
    border-radius: 3px;

    &.can-filter {
      position: relative;
    }

    &.can-filter:before {
      content: '';
      position: absolute;
      left: 23px;
      bottom: -15px;
      width: 0;
      height: 0;
      transition: left .33s ease-in-out;
      border-style: solid;
      border-width: 0 12.5px 12px 12.5px;
      border-color: transparent transparent $info-blue transparent;
    }

    .three-quarter-col {
        flex: 0 0 auto;
        width: 75%;
    }
    .one-half-col {
        flex: 0 0 auto;
        width: 50%;
    }
    .one-third-col {
        flex: 0 0 auto;
        width: 33%;
    }
}


// By default, metric cards will setup to be 25% width as specified below. Using flex basis values
// led to browser inconsistencies which affected the arrow placement for filtering. If another width
// is necessary, specify the width in a class (i.e. 'one-half-col') like above and add that class
// to the appropriate card(s).
.metric-card {
    flex: 0 0 auto;
    width: 25%;
    min-width: 170px;
    margin: 0 0 25px 0;
    padding: 25px 0 0 23px;
    vertical-align: top;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 1px;
        top: 25px;
        bottom: 0;
        right: 0;
        border-right: 1px solid $grey-light;
    }

    &:last-child::before {
        display: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      opacity: 0;
      transition: height .33s ease-in-out, opacity .33s ease-in-out;
      background: $info-blue;
    }

    &:first-child::after {
      border-radius: 3px 0 0 0;
    }

    &:last-child::after {
      border-radius: 0 3px 0 0;
    }

    &.selected::after {
        height: 3px;
        opacity: 1;
    }

    .what {
        display: block;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        color: $grey;
        letter-spacing: 0.1em;
        margin-bottom: 3px;

        a, a:hover {
            color: $grey;
            @include no-box-shadow;
        }

        @include low-res {
            color: $grey-dark-low-res;
        }
    }

    .number {
        display: block;
        font-family: $heading-font-family;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 4px;
        color: $grey-dark;
        font-weight: 300;

        &.multiple-values {
          display: flex;
        }

        &.warning,
        &.warning a {
            color: $error-red;
        }

        a {
            color: $grey-dark;
            text-decoration: none;
            @include no-box-shadow;
        }

        a:hover {
            @include box-shadow(0 3px 0 0 currentColor);
        }

    }

    &:last-child {
        border-right: 0;
    }

    .meta-text {
        font-size: 12.6px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        line-height: 100%;
        color: $grey-dark;

        > i {
            vertical-align: middle;
            font-size: 140%;
            display: none;
        }

        &.warning {
            color: $error-red;

            span {
                color: $error-red;
            }

            > i {
                display: none;
            }

            a {
                color: $error-red;

            }
        }

        &.over-limit {
            span {
                color: $error-red;
            }

            > i {
                color: $error-red;
                display: inline;
            }

            a {
                color: $error-red;
            }
        }

    }

    .info-tooltip {
        margin-bottom: 10px;
        position: absolute;
        bottom: 100%;
    }

    i {
        vertical-align: middle;
    }

    i.icon-normal {
        font-size: 16px;
    }

    i.icon-circle {
        margin: 2px;
        width: 10px;
        height: 10px;
        border: 0;
        border-radius: 50%;
        display: inline-block;
    }

    i.filled-red {
        background-color: $error-red;
    }

    i.icon-blue {
        color: $base-link-color;
    }

    @media screen and (max-width: 1200px) {
        .what, .meta-link, .meta-text {
            font-size: 10px;
        }
        .number {
            font-size: 28px;
        }
        .meta-chart {
            margin-left: -10%;
            transform: scale(.8,.8);
        }
        i.icon-normal {
            font-size: 14px !important;
        }
    }

}
