// The world's simplest fluid css grid.  This module defines a set of classes
// that can be used like Bootstrap's grid system.  Rows are given the "grid"
// class, and cells within those rows are given a class that first indicates
// the number of columns the cell spans, and then the number of columns total
// for the given row.
//
// For example, to create a row with two cells that span three columns, where
// the second column spans the right two columns, use the following markup:
//
// <div class="grid">
//   <div class="col-1-3"></div>  <-- span 1 of three columns
//   <div class="col-2-3"></div>  <-- span 2 of three columns
// </div>

@import "../global/mixins";

@mixin grid {
    @include clearfix;
}

@mixin column($span, $of, $gutter) {
    float: left;
    margin-right: $gutter;
    width: calc((100% * #{$span/$of}) - (#{$gutter} * (1 - #{$span/$of})));

    &:nth-of-type(#{$of}n), &:last-of-type {
        margin-right: 0;
    }
}

.grid {
    @include grid;
}

@for $of from 1 through 8 {
    @for $span from 1 through $of {
        .col-#{$span}-#{$of} {
            @include column($span, $of, 1rem);
        }
    }
}
