
// Title:
// Section Header
//
// Version:
// Stable
// Styleguide 1.0.0
//
// Code:
// <h4>Section Header</h4>
//
// Usage:
// Use section headers when there are sections to break down further within each subtitle.

h4 {
  @extend %header;
  font-size:   $medium-font-size;
  margin-bottom: $header-margin-bottom-spacing;
  letter-spacing: -.0125em;
}
