
// Title:
// Subsection Header
//
// Version:
// Stable
// Styleguide 1.0.0
//
// Code:
// <h5>Subsection Header</h5>
//
// Usage:
// Use Subsection headers when there are sections to break down further within each Section area.

h5 {
  @extend %header;
  font-size: $base-font-size;
  margin-bottom: $header-margin-bottom-spacing;
  letter-spacing: -.0125em;
}
