
// Title:
// Table Column Title
//
// Version:
// Stable
// Styleguide 1.0.0
//
// Code:
// <h6>Table Column Title</h6>
//
// Usage:
// Table Column Titles are used as table headers.


h6 {
  @extend %header;
  font-size: $base-font-size;
  margin-bottom: $header-margin-bottom-spacing;
    letter-spacing: -.0125em;
}
