.button-row {
    @include clearfix;

    > * {
        float: left;
        margin-right: 16px;
    }

    &.reverse > * {
        float: right;
        margin-left: 16px;
        margin-right: 0;
    }

    &.centered {
        text-align: center;
    }

    [type="text"] {
        width: 200px;
    }

    .flexbox & {
        display: flex;
        align-items: baseline;

        &.reverse {
            flex-direction: row-reverse;
        }

        &.centered {
            justify-content: center;

            > :last-child {
                margin-right: 0;
            }
        }
    }
}
