.support {
    font-size: $small-font-size;
    padding: 1.5rem .75rem 2rem 1.5rem; // 24/16
    border-top: solid 1px $grey-lighter;

    h2,
    h3 {
        color: $grey;
        font-family: $base-font-family;
        font-size: .7rem;
        font-weight: $base-font-weight;
        line-height: 1;
        margin-bottom: 0.25rem;
    }

    h2 {
        margin-top: 0;
    }

    .helpful-links {
        list-style: none;
        margin: 0;
        padding: 0;

        dd,
        dt {
            margin-left: 0;
            display: block;
            font-weight: normal;
        }

        dt {
            margin-top: 0.875rem;
            &:first-child {
                margin-top: 0;
            }
        }

        dd {
            margin-bottom: .25rem; // 4/16 set to 4px to add some breathing room
        }
    }
}
