{% extends "base.html" %}
  {% block content %}
    {% if snippet_title %}
    <section class="col-6-6 c--snippet-title">
      <h2>{{ snippet_title }}</h2>
      <hr />
    </section>
    {% endif %}
    {% if example %}
      <div class="col-3-6 c-example-render">
        {{ example }}
      </div>
    {% endif %}
    <div class="col-3-6 c-example-code">
      {{ content|markdown }}
    </div>
    {% if notes %}
    <section class="l-grid l-pad-l-50 c--notes">
      <h4 class="l-d-col-6 bold">Notes</h4>
      <p class="l-d-col-6">{{ notes }}</p>
    </section>
    {% endif %}
  {% endblock content %}
