{% extends "base.html" %}
  {% block content %}
    {% if snippet_title %}
    <section class="col-6-6 c--snippet-title">
      <h2>{{ snippet_title }}</h2>
      {% if snippet_descriptor %}
        <p class="box-header-info">{{snippet_descriptor}}</p>
      {% endif %}
      <hr />
    </section>
    {% endif %}
    {% if icons %}
      <ul class="l-grid c--icons">
      {% for icon in icons %}
        <li class="l-lg-col-1 l-d-col-2 l-m-col-2">
          <i class="{{ icon }}"></i>
          <pre class="c--hidden--example codehilite"><span class="p">&lt;</span><span class="nt">i class="{{ icon }}"</span><span class="p">&gt;&lt;</span><span class="nt">/</span><span class="nt">i</span><span class="p">&gt;</span></pre>
          <p>class=<br />
            "<input readonly="readonly" class="c--click--key click_to_select_all" value="{{ icon }}" />"
          </p>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endblock content %}
