{% extends "base.html" %}
  {% block content %}
    {% if snippet_title %}
    <section class="col-6-6">
      <h2>{{ snippet_title }}</h2>
      <hr />
    </section>
    {% endif %}
    <section class="l-d-col-2">
      <dl class="c-color-chip {{ color_var }}">
        <dt>{{ color_name }}</dt>
        <dd>#{{ color_hex }}</dd>
        <dd>${{ color_var }}</dd>
      </dl>
      {% if notes %}
        <h3>Notes</h3>
        <p>{{ notes }}</p>
      {% endif %}
    </section>
    {{ content|markdown }}
  {% endblock content %}
