{% extends "base.html" %}
  {% block content %}
    {% if snippet_title %}
    <section class="col-6-6 c--snippet-title">
      <h2>{{ snippet_title }}</h2>
      <hr />
    </section>
    {% endif %}
    {% if example %}
      <section class="l-lg-col-6 l-d-col-6 l-m-col-6 l-marg-btm c-example-render">
        {{ example }}
      </section>
    {% endif %}
    <section class="l-lg-col-3 l-d-col-3 l-m-col-6 c-example-code">
      {{ content|markdown }}
    </section>
    {% if notes %}
    <section class="l-lg-col-3 l-d-col-3 l-m-col-6 c--notes">
      <h5 class="l-d-col-6 bold">Notes</h5>
      <p class="l-d-col-6">{{ notes }}</p>
    </section>
    {% endif %}
  {% endblock content %}
