{% extends 'layouts/base.html' %}

{% set colors = load_data('colors') %}
{% block title %}
  <h1 class="l-marg--pattern-header">Color</h1>
{% endblock %}
{% block body %}
  {% for color in colors %}
    <section class="l-lg-col-1 l-d-col-2 l-m-col-6">
      <dl class="c-color-chip {{ color.var }}">
        <dt>{{ color.name }}</dt>
        <dd>#{{ color.hex }}</dd>
        <dd>${{ color.var }}</dd>
      </dl>

      {% if color.notes %}
        <h3>Usage</h3>

        <p>{{ color.notes }}</p>
      {% endif %}
    </section>
  {% endfor %}
{% endblock %}
