{% extends 'layouts/base.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="styles/reference/root-index.css">
{% endblock %}
{% block title %}
  <h1 class="l-marg--pattern-header">Data Visualization</h1>
{% endblock %}
{% block body %}
  {% for section in page.sections %}
    {{ render_section(page.id, section.id) }}
  {% endfor %}
{% endblock %}
{% block scripts %}
  <script src="js/jquery/jquery.min.js"></script>
  <script src="js/highcharts/highcharts.min.js"></script>
  {{ super() }}
  <script type="text/javascript">
  </script>
  {% endblock %}
