{% extends 'layouts/base.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="styles/reference/intl-tel-input/intlTelInput.css">
  <link rel="stylesheet" href="styles/reference/select2.css">
{% endblock %}
{% block title %}
  <h1 class="l-marg--pattern-header">Forms</h1>
{% endblock %}
{% block body %}
  {% for section in page.sections %}
    {{ render_section(page.id, section.id) }}
  {% endfor %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="js/intl-tel-input/utils.min.js"></script>
{% endblock %}
