{% extends 'layouts/base.html' %}

{% set icons = load_data('icons') %}

{% block body %}
  <h1>Icons</h1>

  <ul class="l-grid c--icons">
    {% for icon in icons %}
      <li class="l-lg-col-1 l-d-col-2 l-m-col-3">
        <i class="{{ icon }}"></i>
        <pre class="c--hidden--example codehilite"><textarea readonly="read-only" class="click_to_select_all"><i class="{{ icon }}"></i></textarea></pre>
        <p>class=<br />
          "{{ icon }}"
        </p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
