{% extends 'layouts/base.html' %}

{% block body %}
  <main>
    <h2>Weclome to the wonderful world of Duo Design!</h2>
    <hr />
    <h4>Why a pattern library?</h4>
    <p>asdlfkjasdfjkl;asdlkjfas asdlfkja asdfljka some special copy talking about our pattern design library, why we have it, what it does, who it's for, and what's inside it.</p>
    <hr />
    <h3>Visual Patterns</h3>
    <h3>Code Patterns</h3>
    <ul>
      <li>HTML</li>
      <li>SCSS</li>
      <li>JS (coming soon...)</li>
      <li>Python (coming soon...)</li>
    </ul>
    <hr />
    <h4>Duo Speak (coming soonish...)</h4>
    <h4>Animations (coming soonish...)</h4>
  </main>
{% endblock %}
