{% extends 'layouts/base.html' %}
{% block title %}
  <h1 class="l-marg--pattern-header">Design @ Duo</h1>
{% endblock %}
{% block body %}
  <main id="about">
    <h2>What is a pattern library?</h2>
      <p>The Design Pattern Library contains the building blocks of a strong visual foundation.</p>
      <p>If you're looking for our brand guidelines then you should be <a href="http://brand.duosec.org/" title="duo branding guidelines" target="_blank" rel="noreferrer">looking here<i class="icon-new-window"></i></a>.</p>
    <h2>Why a design pattern library?</h2>
    <p>We have a design pattern library to accomplish the following goals:</p>
    <ul>
      <li>Foster cross department <strong>collaboration</strong>.</li>
      <li>Create consistency in how we build and design Duo products.</li>
      <li>Allow our designers and engineers to spend more time crafting <strong>delightful and thoughtful experiences</strong> for users.</li>
      <li>Encourage the use of <strong>reusable code</strong> through patterns.</li>
      <li>Get all of our <strong>patterns into one place</strong> to help identify and solve problem areas.</li>
    </ul>
    <p>If you have any questions, feedback, or ideas you can contact us at <a href="mailto:pdl@duo.com" title="email duo's pattern design library team">dpl[at]duo.com</a></p>
    <hr />
    <h3>The Design Pattern Library currently contains</h3>
    <h4>Visual Patterns</h4>
    <ul>
      <li>Sketch files</li>
      <li>Logo</li>
      <li>Color</li>
      <li>Typography</li>
      <li>Iconography</li>
      <li>Navigation</li>
      <li>Buttons</li>
      <li>Links</li>
      <li>Tables</li>
      <li>Forms</li>
      <li>Modals</li>
      <li>Tooltips</li>
      <li>Data Visualization</li>
    </ul>
    <h4>Code Patterns</h4>
    <ul>
      <li>HTML</li>
      <li>SCSS</li>
    </ul>
  </main>
{% endblock %}
