{% extends 'layouts/base.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="styles/reference/tipsy.css">
{% endblock %}
{% block title %}
  <h1 class="l-marg--pattern-header">Modals &amp; Tooltipes</h1>
{% endblock %}
{% block body %}
  {% for section in page.sections %}
    {{ render_section(page.id, section.id) }}
  {% endfor %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="js/jquery/jquery.tipsy.min.js"></script>
  <script type="text/javascript">
    jQuery(".info").tipsy({
                gravity: "s",
                live: !0,
                html: !0
            });
  </script>
  {% endblock %}
