// Colors
$white: #fff;

$gray: (
    dropshadow: rgba(68, 68, 68, .59),
    disabled: #686868,
    background: #f7f7f7,
    lightest: #efefef,
    light: #ccc,
    mid: #757575,
    dark: #444444
);

$blue: (
    duo-light: #476376,
    cta-light: #2774D5,
    cta: #306FC3,
    cta-dark: #1550AF,
    duo: #405665,
    light: #2798D4,
    info: #2698D4
);

$red: (
    alert: #D0011B,
    darker: #BA0013
);

$orange: (
    warn: #df6a27
);

$green: (
    success: #44A91D,
    duo: #6DBE4F,
    dark: #569E44
);
