// States for alerts, buttons, etc
$success-green: $duo-green;
$success-green-light: $duo-green-light;
$success-green-lightest: lighten($duo-green, 40%);
$error-red: #D4423B;
$error-red-light: lighten($error-red, 20%);
$error-red-lightest: lighten($error-red, 40%);
$error-red-dark: darken($error-red, 40%);
$info-blue: #379ed4;
$info-blue-light: lighten($info-blue, 40%);
$info-blue-border: #CBD9E1;
$warning-orange: #df6a27;
$warning-orange-light: lighten($warning-orange, 40%);

//Default colors
$base-color: $grey-darker;
$base-link-color: $info-blue;

// High contrast colors
$grey-dark-low-res: #444;
$grey-light-low-res: #efefef;
$grey-lighter-low-res: #f2f2f2;
$base-border-color-low-res: #dadada;

// Disabled
$disabled-opacity: 0.5;
$disabled-color: transparentize($base-color, $disabled-opacity);
$disabled-input-color: rgb(235, 235, 228);
