@charset "UTF-8";

$font-family-name: "Duo Admin Icons";
$font-name: "duo-admin";
$font-path: "../fonts/duo-admin";

@font-face {
  font-family: $font-family-name;
  src: url("#{$font-path}/#{$font-name}.eot"); // IE
  src:url("#{$font-path}/#{$font-name}.eot?#iefix") format("embedded-opentype"),
      url("#{$font-path}/#{$font-name}.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: $font-family-name !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: $font-family-name !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before {
  content: "\e002";
}
.icon-call-ringing:before {
  content: "\e003";
}
.icon-usb-alt:before {
  content: "\e007";
}
.icon-terminal:before {
  content: "\e009";
}
.icon-lock-target:before {
  content: "\e00f";
}
.icon-magnifier-thin:before {
  content: "\e010";
}
.icon-padlock-round-unlock:before {
  content: "\e013";
}
.icon-skull:before {
  content: "\e019";
}
.icon-padlock-round-locked:before {
  content: "\e01a";
}
.icon-phone:before {
  content: "\e023";
}
.icon-users:before {
  content: "\e028";
}
.icon-user:before {
  content: "\e02d";
}
.icon-dashboard:before {
  content: "\e03f";
}
.icon-gear:before {
  content: "\e042";
}
.icon-briefcase:before {
  content: "\e044";
}
.icon-exclamation-mark-triangle:before {
  content: "\e045";
}
.icon-pie-chart:before {
  content: "\e047";
}
.icon-globe:before {
  content: "\e048";
}
.icon-laptop:before {
  content: "\e055";
}
.icon-router:before {
  content: "\e056";
}
.icon-monitor:before {
  content: "\e058";
}
.icon-smartphone:before {
  content: "\e059";
}
.icon-usb:before {
  content: "\e05b";
}
.icon-remote:before {
  content: "\e05c";
}
.icon-network:before {
  content: "\e05d";
}
.icon-server:before {
  content: "\e05f";
}
.icon-shield-cross:before {
  content: "\e063";
}
.icon-shield:before {
  content: "\e064";
}
.icon-list:before {
  content: "\e065";
}
.icon-beer:before {
  content: "\e066";
}
.icon-star:before {
  content: "\e085";
}
.icon-sign-new:before {
  content: "\e09b";
}
.icon-wallet:before {
  content: "\e09c";
}
.icon-clipboard-lines:before {
  content: "\e0a5";
}
.icon-file-line-graph:before {
  content: "\e0ba";
}
.icon-file-bar-graph:before {
  content: "\e0bb";
}
.icon-exclamation-mark-circle:before {
  content: "\e0cf";
}
.icon-information-circle:before {
  content: "\e0d0";
}
.icon-question-mark-circle:before {
  content: "\e0d1";
}
.icon-ipad:before {
  content: "\e0e7";
}
.icon-tiles:before {
  content: "\e0e9";
}
.icon-lifesaver:before {
  content: "\e0ec";
}
.icon-pizza:before {
  content: "\e0ed";
}
.icon-exclamation-mark-round-filled:before {
  content: "\e154";
}
.icon-exclamation-mark-triangle-filled:before {
  content: "\e155";
}
.icon-information-filled:before {
  content: "\e156";
}
.icon-question-mark-filled:before {
  content: "\e157";
}
.icon-apple:before {
  content: "\e196";
}
.icon-blackberry:before {
  content: "\e197";
}
.icon-smartphone-ellipsis:before {
  content: "\e199";
}
.icon-smartphone-check:before {
  content: "\e19c";
}
.icon-android:before {
  content: "\e19d";
}
.icon-touchid:before {
  content: "\e1a7";
}
.icon-windows:before {
  content: "\e195";
}
.icon-harddisk:before {
  content: "\e19f";
}
.icon-check-thin:before {
  content: "\e1a5";
}
.icon-credit-card:before {
  content: "\e1a9";
}
.icon-profile:before {
  content: "\e1aa";
}
.icon-star-filled:before {
  content: "\e0fa";
}
.icon-add-thin:before {
  content: "\e0fb";
}
.icon-delete-thin:before {
  content: "\e0fc";
}
.icon-minus:before {
  content: "\e0fd";
}
.icon-download-thin:before {
  content: "\e0ff";
}
.icon-upload-thin:before {
  content: "\e100";
}
.icon-chevron-double-left-thin:before {
  content: "\e102";
}
.icon-chevron-double-right-thin:before {
  content: "\e103";
}
.icon-chevron-double-up:before {
  content: "\e104";
}
.icon-chevron-double-down:before {
  content: "\e105";
}
.icon-chevron-right:before {
  content: "\e106";
}
.icon-chevron-down:before {
  content: "\e107";
}
.icon-chevron-up:before {
  content: "\e108";
}
.icon-chevron-left:before {
  content: "\e109";
}
.icon-clipboard:before {
  content: "\e01c";
}
.icon-window:before {
  content: "\e000";
}
.icon-user-add:before {
  content: "\e001";
}
.icon-check-shield:before {
  content: "\e004";
}
.icon-chevron-thin-left:before {
  content: "\e00c";
}
.icon-chevron-thin-right:before {
  content: "\e00d";
}
.icon-loop-thin:before {
  content: "\e005";
}
.icon-pencil-thin:before {
  content: "\e006";
}
.icon-add-circle:before {
  content: "\e008";
}
.icon-minus-circle:before {
  content: "\e00a";
}
.icon-check-circle:before {
  content: "\e011";
}
.icon-add:before {
  content: "\e027";
}
.icon-pencil:before {
  content: "\e029";
}
.icon-magnifier:before {
  content: "\e02a";
}
.icon-loop:before {
  content: "\e02b";
}
.icon-chevron-thick-left:before {
  content: "\e02c";
}
.icon-download:before {
  content: "\e02e";
}
.icon-chevron-thick-down:before {
  content: "\e02f";
}
.icon-chevron-double-right:before {
  content: "\e030";
}
.icon-chevron-double-left:before {
  content: "\e031";
}
.icon-check:before {
  content: "\e033";
}
.icon-duo-d:before {
  content: "\e015";
}
.icon-duo-circle:before {
  content: "\e016";
}
.icon-duo:before {
  content: "\e017";
}
.icon-windows-filled:before {
  content: "\e018";
}
.icon-apple-filled:before {
  content: "\e01b";
}
.icon-android-filled:before {
  content: "\e01d";
}
.icon-duo-platform:before {
  content: "\e01e";
}
.icon-duo-d-circle:before {
  content: "\e020";
}
.icon-duo-d-square:before {
  content: "\e021";
}
.icon-duo-logo-mobile:before {
  content: "\e022";
}
.icon-java:before {
  content: "\e038";
}
.icon-linux:before {
  content: "\e03a";
}
.icon-opera:before {
  content: "\e040";
}
.icon-filled-lock:before {
  content: "\e024";
}
.icon-check-circle-filled:before {
  content: "\e035";
}
.icon-exclamation-circle-filled:before {
  content: "\e037";
}
.icon-safari:before {
  content: "\e03c";
}
.icon-chrome:before {
  content: "\e036";
}
.icon-clip:before {
  content: "\e025";
}
.icon-align-justify:before {
  content: "\e046";
}
.icon-bin:before {
  content: "\e043";
}
.icon-endpoints:before {
  content: "\e026";
}
.icon-arrow:before {
  content: "\e034";
}
.icon-delete:before {
  content: "\e032";
}
.icon-chevron-thick-up:before {
  content: "\e04a";
}
.icon-chevron-thick-right:before {
  content: "\e049";
}
.icon-new-window:before {
  content: "\e01f";
}
.icon-sort:before {
  content: "\e04b";
}
.icon-flash:before {
  content: "\e04c";
}
.icon-firefox:before {
  content: "\e04d";
}
.icon-edge:before {
  content: "\e04f";
}
.icon-ie:before {
  content: "\e04e";
}
.icon-os:before {
  content: "\e039";
}
.icon-phone-and-tablet:before {
  content: "\e03d";
}
.icon-block:before {
  content: "\e050";
}
.icon-sort-up:before {
  content: "\e012";
}
.icon-chevron-thin-up:before {
  content: "\e00e";
}
.icon-chevron-thin-down:before {
  content: "\e00b";
}
.icon-sort-down:before {
  content: "\e014";
}
.icon-bubble-ask:before {
  content: "\e03e";
}
.icon-plugin:before {
  content: "\e041";
}
.icon-browser-window:before {
  content: "\e051";
}
.icon-arrow-right:before {
  content: "\e057";
}
.icon-clock:before {
  content: "\e03b";
}
.icon-circle-checkmark:before {
  content: "\e052";
}
.icon-trusted-endpoints:before {
  content: "\e053";
}
