<div class="base-actions">
  <form class="inline wonka-bar">
    <span class="twitter-typeahead" id="prefetch"> <input id="dpl-search" type="search" placeholder="Search for pattern types, class names, keywords">
    <i class="icon-magnifier"></i>
  </span>
  </form>
</div><!-- /base-actions -->

<div class="c-modal--info">
  <p>Psst! We're looking for talented folks like you to <a href="https://duo.com/about/careers" target="_blank" rel="noreferrer" title="Apply to work at Duo">join our team.</a></p>
</div>
