<div class="base-actions">
  <form class="inline wonka-bar">
    <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input type="search" placeholder="Search for pattern types, class names, keywords" class="tt-input" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;">
    <i class="icon-magnifier"></i>
  </form>
</div><!-- /base-actions -->

<div class="c-modal--info">
  <p>Psst! We're looking for talented folks like you to <a href="https://duo.com/about/careers" target="_blank" rel="noreferrer" title="Apply to work at Duo">join our team.</a></p>
</div>
