{% set navigation_bar = [
    ('masterfile', 'download the master sketch file', 'Master File', ''),
    ('logo', 'duo logo usage', 'Logos', ''),
    ('colors', 'duo colors', 'Color', ''),
    ('typography', 'how to use duo typography', 'Typography', [
      ('typography-heading', 'H1 example', 'Main Heading', ''),
      ('typography-subtitle', 'subtitle h2 example', 'Subtitle', ''),
      ('typography-sectionheader', 'section header example', 'Section Header', ''),
      ('typography-subsectionheader', 'subsection header example', 'SubSection Header', ''),
      ('typography-body', 'body copy example', 'Body Copy', ''),
      ('typography-instructional', 'instructional copy example', 'Instructional', ''),
      ('typography-tablecolumntitle', 'table column title example', 'Table Column Title', ''),
      ('typography-buttonlabel', 'button label example', 'Button Label', '')
    ]),
    ('icons', 'duo iconography', 'Icons', ''),
    ('navigation', 'how to build a duo navigation', 'Navigation', [
      ('navigation', 'whole nav example', 'Main Navigation', ''),
      ('nav-subpage', 'Subnav example', 'Subpage', ''),
      ('nav-selected', 'select nav item', 'Selected Nav Link', ''),
      ('nav-unselected', 'unselected nav item', 'Unselected Nav Link', ''),
      ('nav-newbadge', 'Nav badge on nav item', 'New Badge Nav Link', ''),
      ('nav-frame', 'duo prompt nav', 'Duo Prompt Nav', '')
    ]),
    ('buttons-links', 'how to build buttons and links', 'Buttons & Links', [
      ('btn-cancel', 'cancel button example', 'Cancel Button', ''),
      ('btn-creation', 'creation button example', 'Creation Button', ''),
      ('btn-destructive', 'destructive button', 'Destructive Button', ''),
      ('btn-dropdown', 'dropdown button', 'Dropdown Button', ''),
      ('btn-inline', 'inline button exmpale', 'Inline Button', ''),
      ('btn-positive', 'positive action button', 'Positive Button', ''),
      ('btn-secondary', 'secondary button example', 'Secondary Button', ''),
      ('link-default', 'default link example', 'Default Link', ''),
      ('link-dark', 'dark link styling', 'Dark Link', ''),
      ('link-newwindow', 'open in a new window', 'New Window Link', ''),
      ('link-small', 'a small link', 'Small Link', ''),
      ('link-breadcrumbs', 'breadcrumb styling', 'Breadcrumb Links', '')
    ]),
    ('tables', 'how duo tables are built', 'Tables', [
      ('table-narrow', 'narrow table example', 'Narrow Table', ''),
      ('table-header', 'narrow table header', 'Table Header', ''),
      ('table-row', 'narrow table row', 'Table Row', ''),
      ('table-pagination', 'table pagination', 'Table Pagination', ''),
      ('table-wide', 'wide table example', 'Wide Table', '')
    ]),
    ('forms', 'how duo forms get built', 'Forms', ''),
    ('modals-tooltips', 'how to use modals and tool tips', 'Modals & Tooltips', ''),
    ('data-viz', 'how duo builds data visualization', 'Data Visualizations', '')
] -%}
{% set active_page = active_page|default('masterfile') -%}
<div class="base-sidebar">
  <div class="base-header">
    <header class="base-header">
      <a href="/">
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 320">
          <g>
          <path class="logo-path logo-path-d" d="M0,0 L0,150 L320,150 C320,75 235,0 160,0 L0,0 Z"></path>
          <path class="logo-path logo-path-d logo-path-translucent" d="M0,320 L0,170 L320,170 C320,245 245,320 160,320 L0,320 Z"></path>
          </g>
          <g transform="translate(340, 0)">
          <path class="logo-path logo-path-u" d="M0,160 C0,250 75,320 150,320 L150,0 L0,0 L0,160 Z"></path>
          <path class="logo-path logo-path-u logo-path-translucent" d="M170,320 L170,0 L320,0 L320,320 L170,320 Z"></path>
          </g>
          <g transform="translate(680, 0)">
          <path class="logo-path logo-path-o" d="M0,150 L320,150 C320,75 250,0 160,0 C70,0 0,75 0,150 Z"></path>
          <path class="logo-path logo-path-o logo-path-translucent" d="M0,170 L320,170 C320,245 250,320 160,320 C70,320 0,245 0,170 Z"></path>
          </g>
        </svg>
        <h1>Duo</h1>
      </a>
    </header>
  </div>
  <nav class="navigation">
    {% for href, title, caption, children in navigation_bar recursive %}
      <a {% if href in active_page %} class="current"{% endif
      %} href="{{ href|e }}.html" title="{{ title|e }}">{{ caption|e }}</a>
      {% if children %}
      <div class="subnav">
        {{ loop(children) }}
      </div>
      {% endif %}
    {% endfor %}

  </nav>
</div>
