// TODO: clean up this section and make less intrusive overrides for seclect2 elementss
// Form Elements
fieldset {
    border: none;
    padding: 0;

    &.temp {
        margin-top: 20px;
    }
}

select,
textarea,
input {
    @include borders;
    @include border-radius;
    @include transitions;
    display: inline-block;
    font-family: inherit;
    background: $white;
    color: $default-text-color;
    padding: .375rem .75rem .25rem; // 10/16, 12 /* 6/16, 4/16 */
    outline: none;

    &:focus {
        @include box-shadow;
        outline: none;
        border-color: $default-border-color;
    }
    &[type="radio"] {
        &:focus {
            @include border-radius($radius: 50%);
        }
        &:active,
        &:hover {
            @include no-box-shadow;
        }
    }
    &[type="checkbox"] {
        &:focus {
            border-radius: 15%;
            @include box-shadow(0 -1px 0 2px white, 0px -1px 0 4px currentColor);
        }
    }
    &:not([disabled]):hover {
        border-color: $dark-border-color;
    }
}

select {
    height: 2.5em;
}

input:not([type="hidden"]) {
    &[type="text"],
    &[type="search"] {
        @include border-radius;
        @include borders;
        outline: none;
        height: 2.4rem;
        @include transitions;

        &:focus {
            @include box-shadow;
        }

        &:not([disabled]):hover {
            border-color: $dark-border-color;
        }
    }

    &[type="search"] {
        max-width: 25rem;
        padding: 0 0 0 2.25em;
    }
}
input:not([type="hidden"]),
textarea:not([type="hidden"]) {

    &[read-only],
    &[readonly] {
        background-color: $disabled-button-color;
        color: $disabled-text-color;
        &:hover {
            border-color: $default-border-color !important;
        }
        &:focus,
        &:active {
            @include no-box-shadow;
        }
    }
}

.search {
    &:before {
        @extend %icon;
        content: $magnify;
        position: absolute;
        width: 1em;
        font-size: 1.75rem;
        line-height: 1em;
        padding: 0.25em;
        vertical-align: middle;
        color: $search-icon-color;
    }
}
// Overriding the select2 form elements
.base-content,
#modal-policy-builder {
    .select2-container,
    .select2-container-multi {
        .select2-choice {
            padding: 0.25rem 0 0 0.5rem;
            height: 2.4em;
            color: $default-text-color;
            border-color: $default-border-color;
            @include border-radius;
            background-color: $white;
            background-image: none;
            @include no-box-shadow;

            .select2-arrow {
                background-color: $white;
                background-image: none;
                padding-top: 1%;
                border-color: $default-border-color;
                @include border-radius(0 3px 3px 0);
            }
        }
        .select2-choices {
            background-image: none;
            .select2-search-choice {
                background-image: none;
                background-color: $white;
                margin-top: 9px;
                padding-top: 5px;
                padding-bottom: 5px;
                &:hover {
                    color: $primary-button-color;
                    background: none;
                    border-color: $primary-button-color;
                    @include no-box-shadow;
                }
                .select2-search-choice-close {
                    @include no-box-shadow;
                    margin-top: 3px;
                }
            }
        }
        .select2-search-choice-close
         {
            @include no-box-shadow;
        }
    }

    .select2-dropdown-open {
        .select2-choice {
            background-image: none;
            background-color: $white;
            &:hover {
                color: $white;
            }
        }
    }
}

.select2-drop-active,
.select2-container-active .select2-choice,
.select2-container-multi .select2-choices {
    @include border-radius;
    border-color: $default-border-color !important;
}

.select2-search {
    input.select2-input {
        background-image: url('../../../static/images/select2.png');
        background-repeat: no-repeat;
        background-position: 100% -22px;
        background-color: $white;
    }
}

.select2-results .select2-result.select2-highlighted {
    background-color: $select-hover-color !important;
}
