
.paginate_button {
    @include no-box-shadow;
    @include border-radius;
    @include transitions;
    color: $pagination-text-color;
    padding: 0.125em 0.5em;
    line-height: 1em;
    text-align: center;
    border: none;
    margin: 0 5px;

    &:hover {
        @include box-shadow(0 0 0 2px $primary-button-color);
        background-color: $white;
        color: $default-text-color;
    }

    &:active,
    &:focus {
        @include box-shadow;
        padding: 0.125em 0.5em;
    }

    &.current {
        font-size: 1.45em;
        vertical-align: sub;
        line-height: 1em;
        color: $default-link-color;
        font-weight: 700;

        &:hover {
            @include no-box-shadow;
            border: none;
            color: $default-link-color;
            cursor: default;
        }
    }
    &.next,
    &.previous {
        font-family: "SSStandard";
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        color: $default-link-color;
        text-rendering: optimizeLegibility;
        white-space: nowrap;
        // -webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected.
        font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;
        vertical-align: text-bottom;
        text-align: center;
        &:hover {
            @include no-box-shadow;
            background-color: transparent;
            color: $primary-button-color;
            border-radius: 0;
        }
    }

    &.disabled {
        color: $disabled-pagination-color;

        &:active,
        &:focus,
        &:hover {
            @include no-box-shadow;
            color: $disabled-pagination-color;
            background-color: transparent;
            cursor: not-allowed;
        }
    }

}

.dataTables_paginate {
    float: right;
    a {
        @include no-box-shadow;
    }

    .first,
    .last {
        letter-spacing: -3px;
        display: none;
    }
}
